<!DOCTYPE html>
<html lang="en">
<head>
  <title>Licenta</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .learn-sidebar {
      background-color: black;
      color: white;
    }
    body {
      background-color: #e9e9e9;
    }

    .text {
      font-size: 17px;
    }
    .text-subtitle {
      font-size: 45px;
    }

    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
      z-index: 3;
      width: 250px;
      top: 43px;
      bottom: 0;
      height: inherit;
    }
    .button-container .w3-button {
      display: block;
      margin-bottom: 10px;
    }
    .chessboard-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    /* Chessboard CSS */
    .board {
      width: 600px;
      height: 600px;
      margin: 20px auto;
      display: grid;
      grid-template: repeat(8, 1fr) / repeat(8, 1fr);
    }
    .square {
      border: 1px solid #999;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .black {
      background-color: #b58863;
    }
    .white {
      background-color: #f0d9b5;
    }

    .notation {
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      font-weight: bold;
    }

    .vertical-notation {
      height: 600px;
      flex-direction: column-reverse;
      margin-right: 5px;
    }

    .horizontal-notation {
      width: 600px;
      margin-top: 5px;
    }

    .board-with-notation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .notation-item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }


  </style>
</head>
<body>


<!-- Chessboard HTML -->
<div class="w3-row w3-padding-64">
  <div class="w3-twothird w3-container">
    <div class="chessboard-container">
      <div class="notation vertical-notation">
        <div class="notation-item">1</div>
        <div class="notation-item">2</div>
        <div class="notation-item">3</div>
        <div class="notation-item">4</div>
        <div class="notation-item">5</div>
        <div class="notation-item">6</div>
        <div class="notation-item">7</div>
        <div class="notation-item">8</div>
      </div>
      <div class="board-with-notation">
        <div class="board">
          <!-- First row -->
          <div class="square white" data-color="white" data-position="a8"><img class="piece" src="pieces/br.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="b8"><img class="piece" src="pieces/bn.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="c8"><img class="piece" src="pieces/bb.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="d8"><img class="piece" src="pieces/bq.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="e8"><img class="piece" src="pieces/bk.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="f8"><img class="piece" src="pieces/bb.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="g8"><img class="piece" src="pieces/bn.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="h8"><img class="piece" src="pieces/br.png" draggable="true"></div>

          <!-- Second row -->
          <div class="square black" data-color="black" data-position="a7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="b7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="c7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="d7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="e7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="f7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="g7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="h7"><img class="piece" src="pieces/bp.png" draggable="true"></div>

          <div class="square white" data-color="white" data-position="a6"></div>
          <div class="square black" data-color="black" data-position="b6"></div>
          <div class="square white" data-color="white" data-position="c6"></div>
          <div class="square black" data-color="black" data-position="d6"></div>
          <div class="square white" data-color="white" data-position="e6"></div>
          <div class="square black" data-color="black" data-position="f6"></div>
          <div class="square white" data-color="white" data-position="g6"></div>
          <div class="square black" data-color="black" data-position="h6"></div>

          <div class="square black" data-color="black" data-position="a5"></div>
          <div class="square white" data-color="white" data-position="b5"></div>
          <div class="square black" data-color="black" data-position="c5"></div>
          <div class="square white" data-color="white" data-position="d5"></div>
          <div class="square black" data-color="black" data-position="e5"></div>
          <div class="square white" data-color="white" data-position="f5"></div>
          <div class="square black" data-color="black" data-position="g5"></div>
          <div class="square white" data-color="white" data-position="h5"></div>

          <div class="square white" data-color="white" data-position="a4"></div>
          <div class="square black" data-color="black" data-position="b4"></div>
          <div class="square white" data-color="white" data-position="c4"></div>
          <div class="square black" data-color="black" data-position="d4"></div>
          <div class="square white" data-color="white" data-position="e4"></div>
          <div class="square black" data-color="black" data-position="f4"></div>
          <div class="square white" data-color="white" data-position="g4"></div>
          <div class="square black" data-color="black" data-position="h4"></div>

          <div class="square black" data-color="black" data-position="a3"></div>
          <div class="square white" data-color="white" data-position="b3"></div>
          <div class="square black" data-color="black" data-position="c3"></div>
          <div class="square white" data-color="white" data-position="d3"></div>
          <div class="square black" data-color="black" data-position="e3"></div>
          <div class="square white" data-color="white" data-position="f3"></div>
          <div class="square black" data-color="black" data-position="g3"></div>
          <div class="square white" data-color="white" data-position="h3"></div>

          <!-- The seventh row -->
          <div class="square white" data-color="white" data-position="a2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="b2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="c2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="d2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="e2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="f2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="g2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="h2"><img class="piece" src="pieces/wp.png" draggable="true"></div>

          <!-- Eighth row -->
          <div class="square black" data-color="black" data-position="a1"><img class="piece" src="pieces/wr.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="b1"><img class="piece" src="pieces/wn.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="c1"><img class="piece" src="pieces/wb.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="d1"><img class="piece" src="pieces/wq.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="e1"><img class="piece" src="pieces/wk.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="f1"><img class="piece" src="pieces/wb.png" draggable="true"></div>
          <div class="square black" data-color="black" data-position="g1"><img class="piece" src="pieces/wn.png" draggable="true"></div>
          <div class="square white" data-color="white" data-position="h1"><img class="piece" src="pieces/wr.png" draggable="true"></div>
        </div>


        <div class="notation horizontal-notation">
          <div class="notation horizontal-notation">
            <div class="notation-item">a</div>
            <div class="notation-item">b</div>
            <div class="notation-item">c</div>
            <div class="notation-item">d</div>
            <div class="notation-item">e</div>
            <div class="notation-item">f</div>
            <div class="notation-item">g</div>
            <div class="notation-item">h</div>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="w3-third w3-container">
    <div class="w3-margin-top w3-left-align">
      <h2 class="text-subtitle">Deschiderea italiană</h2>
      <p class="text">Deschiderea italiană este extrem de populară și una dintre cele mai vechi deschideri din șah.
        Această deschidere este foarte ușor de studiat și una dintre cele mai bune alegeri pentru începători.</p>
      <p class="text">1.e4 reprezintă prima mutare pe care o întâlnesc numeroși începători în șah, și există argumente solide pentru asta.
         Mutarea obține controlul asupra căsuțelor centrale e4 și d5, în același timp facilitând deschiderea diagonalelor
         pentru nebunul aflat pe f1 și regina de pe d1.</p>
      <p class="text">Mutarea e5 are rolul de a contesta planul albului de a avea pătratele centrale doar pentru el.</p>
      <p class="text">2.Calul de pe f3 intră imediat în lupta pentru controlul centrului, atacând pionul negru de pe e5.
        De asemenea, servește ca susținere pentru o posibilă mutare d2-d4.
      </p>
      <p class="text">Jucătorul cu piesele negre dezvoltă calul la c6, apărând pionul negru de pe e5 și luptând în același timp pentru controlul pătratului d4.</p>
      <p class="text">3.Jucătorul cu piesele albe dezvoltă nebunul pe o poziție favorabilă, de unde controlează centrul și vizează pătratul f7.</p>
      <p class="text">4.Planul principal al albului este de a obține controlul centrului prin avansarea pionului d4.
        Albul consolidează pătratul d4 și pregătește mutarea d4. De asemenea, aceasta împiedică orice potențială mutare a calului negru la d4 în viitor.</p>
      <p class="text">Cel mai comun răspuns este Cf6. Atacă pionul de pe e4, dezvoltă calul și permite negrului să facă rocadă mai târziu.</p>
      <p class="text">5. d4 dxe4</p>
      <p class="text">6.cxd4 Nb4   Jucătorii se bat pentru centru, albul forțează mutarea nebunului.</p>

    </div>
  </div>
</div>




<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="play" class="w3-bar-item w3-button w3-theme-l1">Joacă</a>
    <a href="learnmain" class="w3-bar-item w3-button w3-hide-small w3-hover-white">învață</a>
    <a href="puzzle1" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Puzzle</a>
    <a href="openingKI" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Deschidere</a>
    <a href="coordinates" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Coordonate</a>
    <a href="login" class="w3-bar-item w3-button w3-hide-small w3-hover-white w3-right">Log In</a>
  </div>
</div>


<!-- Sidebar -->

<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black  learn-sidebar" href="openingKI">Italiana</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="learnbishop">Franceza</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="learnrook">Spaniola</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="learnqueen">Gambitul Damei</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="learnking">Caro-Kann</a>
</nav>
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px">

  <div class="w3-row w3-padding-64">

  </div>

</div>


<script>
  var mySidebar = document.getElementById("mySidebar");

  var overlayBg = document.getElementById("myOverlay");

  function w3_open() {
    if (mySidebar.style.display === 'block') {
      mySidebar.style.display = 'none';
      overlayBg.style.display = "none";
    } else {
      mySidebar.style.display = 'block';
      overlayBg.style.display = "block";
    }
  }

  function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
  }

  const squares = document.querySelectorAll('.square');


  const dragStart = function () {
    setTimeout(() => this.className += ' invisible', 0);
  };

  const dragEnd = function () {
    this.className = 'square ' + this.dataset.color;
  };

  const dragOver = function (e) {
    e.preventDefault();
  };

  const dragEnter = function (e) {
    e.preventDefault();
  };

  const dragLeave = function () {

  };

  const dragDrop = function () {
    while (this.firstChild) {
      this.removeChild(this.firstChild);
    }

    this.append(pieceBeingDragged);
  };

  let pieceBeingDragged;

  const dragStartPiece = function () {
    pieceBeingDragged = this;
  };

  const dragEndPiece = function () {
    pieceBeingDragged = null;
  };

  squares.forEach(square => {
    square.addEventListener('dragstart', dragStart);
    square.addEventListener('dragend', dragEnd);
    square.addEventListener('dragover', dragOver);
    square.addEventListener('dragenter', dragEnter);
    square.addEventListener('dragleave', dragLeave);
    square.addEventListener('drop', dragDrop);
  });


  const pieces = document.querySelectorAll('.piece');

  pieces.forEach(piece => {
    piece.addEventListener('dragstart', dragStartPiece);
    piece.addEventListener('dragend', dragEndPiece);
  });
  let moves = ['e2e4', 'e7e5', 'g1f3','b8c6','f1c4','f8c5','c2c3','g8f6','d2d4','e5d4','c3d4','c5b4'];

  function processMove(move) {
    let source = move.substring(0, 2);
    let destination = move.substring(2, 4);
    let sourceSquare = document.querySelector('.square[data-position="' + source + '"]');
    let destinationSquare = document.querySelector('.square[data-position="' + destination + '"]');

    let piece = sourceSquare.querySelector('.piece');

    let capturedPiece = destinationSquare.querySelector('.piece');
    if (capturedPiece) {
      destinationSquare.removeChild(capturedPiece);
    }

    sourceSquare.removeChild(piece);
    destinationSquare.appendChild(piece);
  }

  let currentMove = 0;
  setInterval(function() {
    if (currentMove < moves.length) {
      processMove(moves[currentMove]);
      currentMove++;
    }
  }, 1000);

</script>

</body>

</html>
