<!DOCTYPE html>
<html lang="en">
<head>
    <title>Licenta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .button-container {
            position: absolute;
            top: 60px;
            right: 10px;
        }
        .button-container .w3-button {
            display: block;
            margin-bottom: 10px;
        }

        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
        .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
        .chessboard-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }

        /* Chessboard CSS */
        .board {
            width: 600px;
            height: 600px;
            margin: 20px auto;
            display: grid;
            grid-template: repeat(8, 1fr) / repeat(8, 1fr);
        }
        .square {
            border: 1px solid #999;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .black {
            background-color: #b58863;
        }
        .white {
            background-color: #f0d9b5;
        }

        .notation {
            display: flex;
            justify-content: space-around;
            font-size: 20px;
            font-weight: bold;
        }

        .vertical-notation {
            height: 600px;
            flex-direction: column-reverse;
            margin-right: 5px;
        }

        .horizontal-notation {
            width: 600px;
            margin-top: 5px;
        }

        .board-with-notation {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .notation-item {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .player-name-top,
        .player-name-bottom {
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 15px;
        }


    </style>
</head>
<body>


<!-- Chessboard HTML -->
<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <div class="player-name-top">haricari</div>
        <div class="chessboard-container">
        <div class="notation vertical-notation">
            <div class="notation-item">8</div>
            <div class="notation-item">7</div>
            <div class="notation-item">6</div>
            <div class="notation-item">5</div>
            <div class="notation-item">4</div>
            <div class="notation-item">3</div>
            <div class="notation-item">2</div>
            <div class="notation-item">1</div>
        </div>
            <div class="board-with-notation">
                <div class="board">

                    <!-- Replace with actual paths to your image files -->
                    <div class="square white" data-color="white"><img class="piece" src="pieces/br.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/bn.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/bb.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/bq.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/bk.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/bb.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/bn.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/br.png" draggable="true"></div>

                    <!-- Second row -->
                    <div class="square black" data-color="black"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/bp.png" draggable="true"></div>

                    <!-- Third row to Sixth row -->
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>

                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>

                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>

                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>
                    <div class="square black" data-color="black"></div>
                    <div class="square white" data-color="white"></div>

                    <!-- Seventh row -->
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wp.png" draggable="true"></div>

                    <!-- Eighth row -->
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wr.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wn.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wb.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wq.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wk.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wb.png" draggable="true"></div>
                    <div class="square black" data-color="black"><img class="piece" src="pieces/wn.png" draggable="true"></div>
                    <div class="square white" data-color="white"><img class="piece" src="pieces/wr.png" draggable="true"></div>

                </div>
                    <div class="notation horizontal-notation">
                <div class="notation horizontal-notation">
                <div class="notation-item">a</div>
                <div class="notation-item">b</div>
                <div class="notation-item">c</div>
                <div class="notation-item">d</div>
                <div class="notation-item">e</div>
                <div class="notation-item">f</div>
                <div class="notation-item">g</div>
                <div class="notation-item">h</div>

                    </div>
        </div>

    </div>
        </div>
        <div class="player-name-bottom">GM Cobel</div>
</div>
</div>
</div>


<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="play" class="w3-bar-item w3-button w3-theme-l1">Play</a>
        <a href="learnmain" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Learn</a>
        <a href="puzzle1" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Puzzle</a>
        <a href="openingKI" class="w3-bar-item w3-button w3-hide-small w3-hover-white">News</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
    </div>
</div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Heading</h1>


                        <!-- Pagination -->


                        <footer id="myFooter">
                            <div class="w3-container w3-theme-l2 w3-padding-32">
                                <h4>Footer</h4>
                            </div>


                        </footer>

                        <!-- END MAIN -->
                    </div>

            </div>

    </div>
                    </div>

                    <script>
                        // Get the Sidebar
                        var mySidebar = document.getElementById("mySidebar");

                        // Get the DIV with overlay effect
                        var overlayBg = document.getElementById("myOverlay");

                        // Toggle between showing and hiding the sidebar, and add overlay effect
                        function w3_open() {
                            if (mySidebar.style.display === 'block') {
                                mySidebar.style.display = 'none';
                                overlayBg.style.display = "none";
                            } else {
                                mySidebar.style.display = 'block';
                                overlayBg.style.display = "block";
                            }
                        }

                        // Close the sidebar with the close button
                        function w3_close() {
                            mySidebar.style.display = "none";
                            overlayBg.style.display = "none";
                        }

                        const squares = document.querySelectorAll('.square');

                        const dragStart = function () {
                            setTimeout(() => this.className += ' invisible', 0);
                        };

                        const dragEnd = function () {
                            this.className = 'square ' + this.dataset.color; // restore original color
                        };

                        const dragOver = function (e) {
                            e.preventDefault();
                        };

                        const dragEnter = function (e) {
                            e.preventDefault();
                        };

                        const dragLeave = function () {
                            // Do nothing
                        };

                        const dragDrop = function () {
                            // Clear out existing piece if it exists
                            while (this.firstChild) {
                                this.removeChild(this.firstChild);
                            }

                            // Add the new piece
                            this.append(pieceBeingDragged);
                        };

                        let pieceBeingDragged;

                        const dragStartPiece = function () {
                            pieceBeingDragged = this;
                        };

                        const dragEndPiece = function () {
                            pieceBeingDragged = null;
                        };

                        squares.forEach(square => {
                            square.addEventListener('dragstart', dragStart);
                            square.addEventListener('dragend', dragEnd);
                            square.addEventListener('dragover', dragOver);
                            square.addEventListener('dragenter', dragEnter);
                            square.addEventListener('dragleave', dragLeave);
                            square.addEventListener('drop', dragDrop);
                        });

                        const pieces = document.querySelectorAll('.piece');

                        pieces.forEach(piece => {
                            piece.addEventListener('dragstart', dragStartPiece);
                            piece.addEventListener('dragend', dragEndPiece);
                        });


</script>

</body>

</html>
