<!DOCTYPE html>
<html lang="en">
<head>
    <title>Licenta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        .button-container .w3-button {
            display: block;
            margin-bottom: 10px;
        }

        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
        .w3-sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
        .chessboard-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
        }

        /* Chessboard CSS */
        .board {
            width: 600px;
            height: 600px;
            margin: 20px auto;
            display: grid;
            grid-template: repeat(8, 1fr) / repeat(8, 1fr);
        }
        .square {
            border: 1px solid #999;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .black {
            background-color: #b58863;
        }
        .white {
            background-color: #f0d9b5;
        }

        .notation {
            display: flex;
            justify-content: space-around;
            font-size: 20px;
            font-weight: bold;
        }

        .vertical-notation {
            height: 600px;
            flex-direction: column-reverse;
            margin-right: 5px;
        }

        .horizontal-notation {
            width: 600px;
            margin-top: 5px;
        }

        .board-with-notation {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .notation-item {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .player-name-top,
        .player-name-bottom {
            font-size: 24px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 15px;
        }


    </style>
</head>
<body>


<!-- Chessboard HTML -->
<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
        <div class="player-name-top">Stockfish</div>
        <div class="chessboard-container">
        <div class="notation vertical-notation">
            <div class="notation-item">1</div>
            <div class="notation-item">2</div>
            <div class="notation-item">3</div>
            <div class="notation-item">4</div>
            <div class="notation-item">5</div>
            <div class="notation-item">6</div>
            <div class="notation-item">7</div>
            <div class="notation-item">8</div>
        </div>
            <div class="board-with-notation">
                <div class="board">

                    <!-- Replace with actual paths to your image files -->
                    <div class="square white" data-color="white" data-position="a8"><img class="piece" src="pieces/br.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="b8"><img class="piece" src="pieces/bn.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="c8"><img class="piece" src="pieces/bb.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="d8"><img class="piece" src="pieces/bq.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="e8"><img class="piece" src="pieces/bk.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="f8"><img class="piece" src="pieces/bb.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="g8"><img class="piece" src="pieces/bn.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="h8"><img class="piece" src="pieces/br.png" draggable="true"></div>

                    <!-- Second row -->
                    <div class="square black" data-color="black" data-position="a7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="b7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="c7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="d7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="e7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="f7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="g7"><img class="piece" src="pieces/bp.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="h7"><img class="piece" src="pieces/bp.png" draggable="true"></div>

                    <div class="square white" data-color="white" data-position="a6"></div>
                    <div class="square black" data-color="black" data-position="b6"></div>
                    <div class="square white" data-color="white" data-position="c6"></div>
                    <div class="square black" data-color="black" data-position="d6"></div>
                    <div class="square white" data-color="white" data-position="e6"></div>
                    <div class="square black" data-color="black" data-position="f6"></div>
                    <div class="square white" data-color="white" data-position="g6"></div>
                    <div class="square black" data-color="black" data-position="h6"></div>

                    <div class="square black" data-color="black" data-position="a5"></div>
                    <div class="square white" data-color="white" data-position="b5"></div>
                    <div class="square black" data-color="black" data-position="c5"></div>
                    <div class="square white" data-color="white" data-position="d5"></div>
                    <div class="square black" data-color="black" data-position="e5"></div>
                    <div class="square white" data-color="white" data-position="f5"></div>
                    <div class="square black" data-color="black" data-position="g5"></div>
                    <div class="square white" data-color="white" data-position="h5"></div>

                    <div class="square white" data-color="white" data-position="a4"></div>
                    <div class="square black" data-color="black" data-position="b4"></div>
                    <div class="square white" data-color="white" data-position="c4"></div>
                    <div class="square black" data-color="black" data-position="d4"></div>
                    <div class="square white" data-color="white" data-position="e4"></div>
                    <div class="square black" data-color="black" data-position="f4"></div>
                    <div class="square white" data-color="white" data-position="g4"></div>
                    <div class="square black" data-color="black" data-position="h4"></div>

                    <div class="square black" data-color="black" data-position="a3"></div>
                    <div class="square white" data-color="white" data-position="b3"></div>
                    <div class="square black" data-color="black" data-position="c3"></div>
                    <div class="square white" data-color="white" data-position="d3"></div>
                    <div class="square black" data-color="black" data-position="e3"></div>
                    <div class="square white" data-color="white" data-position="f3"></div>
                    <div class="square black" data-color="black" data-position="g3"></div>
                    <div class="square white" data-color="white" data-position="h3"></div>

                    <!-- Seventh row -->
                    <div class="square white" data-color="white" data-position="a2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="b2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="c2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="d2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="e2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="f2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="g2"><img class="piece" src="pieces/wp.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="h2"><img class="piece" src="pieces/wp.png" draggable="true"></div>

                    <!-- Eighth row -->
                    <div class="square black" data-color="black" data-position="a1"><img class="piece" src="pieces/wr.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="b1"><img class="piece" src="pieces/wn.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="c1"><img class="piece" src="pieces/wb.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="d1"><img class="piece" src="pieces/wq.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="e1"><img class="piece" src="pieces/wk.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="f1"><img class="piece" src="pieces/wb.png" draggable="true"></div>
                    <div class="square black" data-color="black" data-position="g1"><img class="piece" src="pieces/wn.png" draggable="true"></div>
                    <div class="square white" data-color="white" data-position="h1"><img class="piece" src="pieces/wr.png" draggable="true"></div>

                </div>
                    <div class="notation horizontal-notation">
                <div class="notation horizontal-notation">
                <div class="notation-item">a</div>
                <div class="notation-item">b</div>
                <div class="notation-item">c</div>
                <div class="notation-item">d</div>
                <div class="notation-item">e</div>
                <div class="notation-item">f</div>
                <div class="notation-item">g</div>
                <div class="notation-item">h</div>

                    </div>
        </div>

    </div>
        </div>
        <div class="player-name-bottom">GM Cobel</div>
        <div class="w3-third w3-container">
            <label for="number-input">Alege viteza intre 1 si 100</label>
            <input id="number-input" type="number" min="1" max="100">
            <button id="send-button">Send</button>
        </div>
</div>
</div>


<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="play" class="w3-bar-item w3-button w3-theme-l1">Joacă</a>
        <a href="learnmain" class="w3-bar-item w3-button w3-hide-small w3-hover-white">învață</a>
        <a href="puzzle1" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Puzzle</a>
        <a href="openingKI" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Deschidere</a>
        <a href="coordinates" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Coordonate</a>
        <a href="login" class="w3-bar-item w3-button w3-hide-small w3-hover-white w3-right">Log In</a>
    </div>
</div>

<div class="w3-main" style="margin-left:250px">



    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $('#send-button').click(function() {
        var number = $('#number-input').val();

        $.ajax({
            url: 'http://localhost:8090/play/dificultate',
            type: 'POST',
            data: JSON.stringify({ number: number }),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(msg) {
                alert('Number sent successfully!');
            }
        });
    });

                            const squares = document.querySelectorAll('.square');
                            let pieceBeingDragged;
                            let origin;
                            let destination;

                            const dragStart = function () {
                                setTimeout(() => this.className += ' invisible', 0);
                                origin = this.dataset.position;
                            };

                            const dragEnd = function () {
                                this.className = 'square ' + this.dataset.color;
                            };

                            const dragOver = function (e) {
                                e.preventDefault();
                            };

                            const dragEnter = function (e) {
                                e.preventDefault();
                            };

                            const dragLeave = function () {

                            };
                            const dragDrop = function () {
                                destination = this.dataset.position;


                                sendMove(origin, destination, this, pieceBeingDragged);
                            };


                            const dragStartPiece = function () {
                                pieceBeingDragged = this;
                            };

                            const dragEndPiece = function () {
                                pieceBeingDragged = null;
                            };

                            squares.forEach(square => {
                                square.addEventListener('dragstart', dragStart);
                                square.addEventListener('dragend', dragEnd);
                                square.addEventListener('dragover', dragOver);
                                square.addEventListener('dragenter', dragEnter);
                                square.addEventListener('dragleave', dragLeave);
                                square.addEventListener('drop', dragDrop);
                            });

                            const pieces = document.querySelectorAll('.piece');

                            pieces.forEach(piece => {
                                piece.addEventListener('dragstart', dragStartPiece);
                                piece.addEventListener('dragend', dragEndPiece);
                            });



                            function sendMove(origin, destination, tempDestinationSquare, tempPieceBeingDragged) {
                                let piece = tempPieceBeingDragged.src.split('/').pop().split('.')[0][1].toUpperCase();

                                fetch('/play/move', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({
                                        origin: origin,
                                        destination: destination,
                                        piece: piece
                                    }),
                                })
                                    .then(response => {
                                        if (!response.ok) {
                                            throw new Error(`HTTP error! status: ${response.status}`);
                                        }
                                        return response.text();
                                    })
                                    .then(text => {

                                        if (text === "OK") {
                                            if(tempDestinationSquare.firstChild) {
                                                tempDestinationSquare.removeChild(tempDestinationSquare.firstChild);
                                            }

                                            tempDestinationSquare.append(tempPieceBeingDragged);
                                            pieceBeingDragged = null;



                                            fetch('/play/move1', {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json',
                                                },
                                                body: JSON.stringify({
                                                    origin: origin,
                                                    destination: destination,
                                                    piece: piece

                                                }),
                                            })
                                                .then(secondResponse => {
                                                    if (!secondResponse.ok) {
                                                        throw new Error(`HTTP error! status: ${secondResponse.status}`);
                                                    }
                                                    return secondResponse.text();
                                                })
                                                .then(secondText => {
                                                    console.log("Response from /play/move1: ", secondText);

                                                    let aiMove = JSON.parse(secondText);

                                                    let aiOrigin = document.querySelector(`[data-position='${aiMove.origin}']`);
                                                    let aiDestination = document.querySelector(`[data-position='${aiMove.destination}']`);

                                                    let aiPiece = aiOrigin.querySelector('.piece');
                                                    aiOrigin.removeChild(aiPiece);

                                                    if(aiDestination.firstChild) {
                                                        aiDestination.removeChild(aiDestination.firstChild);
                                                    }

                                                    aiDestination.append(aiPiece);

                                                    console.log(secondText);
                                                })
                                                .catch((secondError) => {
                                                    console.error('Error:', secondError);
                                                });
                                        }

                                    })
                                    .catch((error) => {
                                        console.error('Error:', error);
                                    });
                            }





</script>

</body>

</html>
